// Mixins in here



.btn(@bkrcolor, @color ) {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: @bkrcolor;
    color: @color;
    cursor: pointer;
  
    &:hover {
      background-color: darken(teal, 10%)
    }
  }